</tr>
<tr>
    <td colspan='2' valign='top' style='background: #DD3489; padding: 7.5pt 7.5pt 7.5pt 7.5pt'>
        <p class='MsoNormal' style='line-height: 13.5pt'>
            <b><span style='font-size: 16px; font-family: Arial,sans-serif; color: white'>CÔNG TY
                TNHH MTV THƯƠNG MẠI HÀ NHƯ</span></b><span style='font-family: Arial,sans-serif;
                    color: white'><br />
                    <span style='font-size: 14px; font-family: Arial,sans-serif; color: white'>Địa chỉ:
                        28 Nguyễn Bá Tòng, P 11, Q Tân Bình, TP Hồ Chí Minh<br />
                        Điện thoại: (08) 3971 8011, (08) 3971 2658, Fax: (08) 3971 2658</span><br />
                    Hotline:0907 288 920 , 090339 7273<br />
                    <b>Email hỗ trợ khách hàng</b>
    : ketnoitructuyen@yahoo.com
</tr>
</table> </td> </tr> </table> </div> </body> </html>