
@media only screen and (min-width:993px) {
.container {
	width: 90%;
	max-width: 1200px !important;
}
.colleft {
	padding-right: 10%
}
}

@media only screen and (max-width:992px) {
.detail-news h1 {
	padding: 10px;
	font-size: 25px;
	border-radius: 20px 0 20px 0;
}
.submenu li {
	width: 50%;
	margin-top: 5px;
}
.submenu li:first-child {
	width: 100%;
}
.icon_f {
	width: 60px;
	height: 60px;
}
 
}

@media only screen and (max-width:600px) {
 
.search {
	margin-bottom: 10px;
	margin-top: 10px;
}
.icon_f {
	width: 40px;
	height: 40px;
	font-size: 10px;
	line-height: 11px
}
.rowcopy >* {
	text-align: center !important;
}
.navi_ft {
	width: 100%;
	padding-top: 10px
}
.logo_ft {
	width: 100%;
	text-align: center
}
.detail-vote img {
	width: 100% !important;
}
}

@media only screen and (max-width:480px) {
.submenu li {
	width: 100%;
}
.icon_f {
	width: 30px;
	height: 30px;
}
.imgsocial {
	display: none;
}
.sum-vote-bar {
	top: auto;
	bottom: 0;
	width: 100%;
	left: 0
}
.sum-vote {
	padding-bottom: 30px
}
}
